import(glmnet, mboost, Matrix, parallel, mgcv, data.table)
export(CAM, computeScoreMat, computeScoreMatParallel, updateScoreMat, selGam, selGamBoost, selLasso,
       selLm, selLmBoost, cam.fit, logLik.cam, print.cam, residuals.cam, predict.cam, logLikScore)
